* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

html {
	background:url(images/time.jpg)no-repeat center center fixed;
	background-size: cover;
}

body {
	color: white;
	font-family: 'Oswald', san-serif;
}


.sign-up-form, .login-form {
	background: #FFFF;
	max-width: 300px;
	text-align: center;
	font-size: 0.8em;
	color: black;
	vertical-align: middle;
	margin: 50px auto;
	font-weight: 800;
	padding: 20px 10px;
	border-radius: 10px;
}

.sign-up-form legend, .login-form legend {
	margin: 10px 0;
	font-size: 2em;
	padding: 10px;
}

.sign-up-form fieldset, .login-form fieldset {
	border: none;
	text-align: left;
}

.sign-up-form input, .login-form input {
	width: 100%;
	margin: 10px auto 20px;
	padding: 10px;
	font-size: 1.2em;
	border: 2px black solid;

}

.sign-up-button, .login-button {
	width: 33.3%;
	padding: 5px;
	border-radius: 5px;
	background-color:#0099BF;
	color: #FFFF;
	font-size: 1.3em;
	border: none;
	margin: 10px;
}

header h1 {
	text-align: center;
	font-size: 4em;
}

header h1 a {
	text-decoration: none;
	color: #FFFF;
}

nav {
	text-align: center;
	font-size: 3em;
}

nav li {
	display: inline-block;
}

nav li a {
	color: #FFFF;
	text-decoration: none;
}

nav li a:hover {
	color:#0099BF;
}


.homepage-info p {
	text-align: center;
	font-size: 60px;
}

.landing-block {
	padding: 3rem;
	text-align: center;
}

#landing-page h2 {
	text-align: center;
	font-size: 28px;
	margin: 20px auto;
}

#landing-page h2 a {
	text-decoration: none;
	color: #FFFF;
}

.landing-text {
	font-size: 24px;
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

.landing-image {
	text-align: center;
	padding: 20px;
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

#account-setup-page h1 {
	text-align: center;
	font-size: 3rem;
}

.account-setup-text {
	padding: 20px;
	font-size: 1.5em;
	text-align: center;
}

.activity-form {
	background: #FFFF;
	max-width: 300px;
	text-align: center;
	font-size: 0.8em;
	color: black;
	vertical-align: middle;
	margin: 50px auto;
	font-weight: 800;
	padding: 20px 10px;
	border-radius: 10px;
}

.activity-form legend{
	font-size: 2em;
	padding: 10px;
}

.activity-form fieldset {
	text-align: left;
}

.activity-form input {
	width: 100%;
	margin: 10px auto 20px;
	padding: 10px;
	font-size: 1.2em;
	border: 2px black solid;
}

.activity-button, .add-another {
	width: 33.3%;
	padding: 5px;
	border-radius: 5px;
	background-color:#0099BF;
	color: #FFFF;
	font-size: 1.3em;
	border: none;
	margin: 10px;
}

#user-homepage h1, #user-homepage h2 {
	text-align: center;
	font-size: 3rem;
	margin: 10px;
}

#user-homepage li a {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 30px;
	border: 5px solid;
}

#user-homepage ul {
	padding: 10px;
	text-align: center;
}

#user-homepage li a:hover {
	color:#0099BF;
	background-color: #FFFF;
}

.option {
	text-align: center;


}

.option li {
	display: inline;
	font-size: 3rem;
}

#container {
	width: 50%;
	height: 500px;
	margin: 0 auto;
	padding: 50px;
}

footer {
	text-align: center;
	list-style: none;
	font-size: 1.5rem;
	margin: 0;
}

footer ul li {
	display: inline;
	width: auto;
}

footer ul li a {
	text-decoration: none;
	color: white;
	margin: 10px 0 auto;
}

footer ul li p {
	color: white;
	margin-bottom: 10px;
	display: block;
}

@media only screen and (max-width: 800px) {
	.landing-text {
		font-size: 22px;
	}

	.landing-image {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#container {
		width: 75%;
	}

}

@media only screen and (max-width: 375px) {
	header {
		font-size: 0.7em;
		margin-right: auto;
		margin-left: auto;
	}

	.landing-text {
		font-size: 16px;
		padding: 5px;
	}

	.landing-image {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#user-homepage h1 {
		font-size: 2em;
	}

	footer {
		font-size: 1em;
	}
}

@media only screen and (max-width: 530px) {
	.landing-text {
		font-size: 16px;
		padding: 5px;
	}

	.landing-image {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	#container {
		width: 100%;
		height: 400px;
	}

	.option li {
		font-size: 2em;
	}

	#user-homepage li a {
		padding: 10px;
	}

	footer {
		font-size: 1em;
	}
}
